<div class="page-header">
	<h3>Sign Up</h3>
</div>

<%= form_for @user, html: {class: "form-horizontal"}  do |f| %>
<% if @user.errors.any? %>
<div class= "alert alert-danger">
	<strong>
		<%= pluralize(@user.errors.count, "error") %>
		prevented you from registering:
	</strong>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div> 
<% end %> 

<div class="form-group">
	<%= f.label :name, class: "control-label col-sm-2" %>
	<div class="col-sm-3"><%= f.text_field :name, class: "form-control" %></div>
</div>

<div class="form-group">
	<%= f.label :email, class: "control-label col-sm-2" %>
	<div class="col-sm-3"><%= f.email_field :email, class: "form-control" %></div>
</div>

<div class="form-group">
	<%= f.label :password, class: "control-label col-sm-2" %>
	<div class="col-sm-3"><%= f.password_field :password, class: "form-control" %></div>
</div>

<div class="form-group">
	<%= f.label :password_confirmation, 'Reenter Password',	class: "control-label col-sm-2" %>
	<div class="col-sm-3"><%= f.password_field :password_confirmation, class: "form-control" %>	</div>
</div>

<%= f.submit class:"btn btn-primary" %>
<% end %>

<ul class="pager">
	<li><%= link_to "Back to Companies", companies_url, class: "pager" %></li>
</ul>
