<div class="panel-header">
	<div class="row">	
		<div class="col-sm-6 header-col">
			<p class="header-title"> <ABBR>ALL USERS</ABBR></p>
		</div>
		<div class="col-sm-6 header-col">
			<ul class="header-links">
				<li>
					<a href="#">Print</a>
					<i class="fa fa-print" aria-hidden="true"></i>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="panel-body">
<table class="table">
	<% @users.each do |user| %>
	<tr>
		<td>
			<p class="user-email"><%= user.email %></p>
			<p class="user-name"><%= user.name %></p>
		</td>
		<td class="action"><a href="#">...</a></td>
	</tr>
	<% end %>
</table>

<div class="form">

<div class='col-md-4'>
		<div class="control-box">
		
			<div class='col-sm-4'><label for="email" class="label-email">Login:</label></div>
			<div class='col-sm-8'>
				<%= email_field_tag :email, params[:email] , placeholder: "checkit@gmail.com" %>
			</div>
			</div>
		</div>

<div class='col-md-4'>
		<div class="control-box">
		
			<div class='col-sm-5'><label for="password" class="label-pass">Password:</label>
			</div>
			<div class='col-sm-7'><%= password_field_tag :password, nil, placeholder: "At least 4 digits"  %>
			</div>
			</div>
		</div>

<div class='col-md-4'>
		<div class="control-box">
		
			<div class='col-sm-4'><label for="name" class="label-name">Name:</label>
			</div>
			<div class='col-sm-8'><%= text_field_tag :name, nil, placeholder: "Full Name"  %>
			</div>
			</div>
		</div>

	</div>
</div>

<div class="pnl-footer">
<center>
<%= submit_tag "Add New User", class: "btn-link" %>
<i class="fa fa-plus-square-o" aria-hidden="true"></i>
</center>
</div>





