<div class="page-header">
	<h3>Edit Company <%= @company.name %></h3>
</div>

<%= form_for @company, html: { multipart: true, class: "form-horizontal" } do |f| %>
<% if @company.errors.any? %>
<div class= "alert alert-danger">
	<strong>
		<%= pluralize(@company.errors.count, "error") %>
		prevented you from registering:
	</strong>
	<ul>
		<% @company.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<%= f.label :logo, class: "control-label col-sm-2" %>
	<div class="col-sm-3"><%= f.file_field :logo, class: "form-control" %></div>
</div>

<div class= "form-group">
	<%= f.label :name, class: "control-label col-sm-2" %>
	<div class="col-sm-3"><%= f.text_field :name, class: "form-control" %></div>
</div>

<div class="form-group">
	<%= f.label :directors, class:"control-label col-sm-2" %>
	<div class="col-sm-3"><%= f.text_field :directors, class: "form-control" %></div>
</div>

<div class= "form-group">
	<%= f.label :address, class:"control-label col-sm-2" %>
	<div class="col-sm-3"><%= f.text_area :address, class: "form-control" %></div>
</div>

<%= f.submit  class: "btn btn-primary submit-button" %>
<% end %>

<ul class="pager back-button">
	<li><a href="/companies" role="button"> Back To Companies </a></li>
</ul>






