<div class="link">
	<ul class="pager">
		<li><%= link_to 'Create a New Company', new_company_url %></li>
	</ul>
</div>

<div class="page-header">
	<h3>Companies</h3>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Directors</th>
			<th>Address</th>
			<th>number of accounts</th>
			<th>View Details</th>
		</tr>
	</thead>
	<tbody>
		<% @companies.each do |company| %>
		<tr>
			<td><%= company.name %></td>
			<td><%= company.directors %></td>
			<td><%= company.address %></td>
			<td><%= company.bank_accounts.count %></td>
			<td> <mark><%= link_to 'View', company_url(company)%></mark></td>
		</tr>
		<% end  %>
	</tbody>
</table>
</div>
