	<div class="page-header">
		<h1>Create Company</h1>
	</div>

	<%= form_for(@company) do |f| %>
	<% if @company.errors.any? %>
	<div class= "alert alert-danger">
		<strong>
			<%= pluralize(@company.errors.count, "error") %>
			prevented you from registering:
		</strong>
		<ul>
			<% @company.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="form-group">
		<%= f.label :logo_url %>
		<%= f.file_field :logo_url, class: "form-control" %>
	</div>
	<div class= "form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div>
		<%= f.label :directors %>
		<%= f.text_field :directors, class: "form-control" %>
	</div>
	<div class= "form-group">
		<%= f.label :address %>
		<%= f.text_area :address, class: "form-control" %>
	</div>

	<div class= "form-group">
		<%= f.label :custom_fields %>
		<%= f.text_field :custom_fields, class: "form-control" %>
	</div>
	<%= f.submit class: "btn-btn-primary" %>
	<% end %>

	<div style="text-align: right">
		<%= link_to 'Back', companies_url %>
	</div>
