<div class="panel-header">
	<div class="row">	
		<div class="col-sm-6 header-col">
			<p class="header-title">
				<%= image_tag @company.logo.url(:thumb), class: "img-rounded logo-img", style: 'width:40px; height:40px;' %>
				<strong class="mlm"><%= @company.name.capitalize %></strong>
			</p>
		</div>
		<div class="col-sm-6 header-col">
			<ul class="header-links">
				<li><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></li>
				<li>
					<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
					<a href="#">Edit Company</a>
				</li>
				<li><a href="#">Cancel</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="panel-body">
	<div class="pll prl">
	<table class="table company">
		<tr>
			<td>
				<label>Full Name:</label> 
				<span class="info"><%= @company.name.capitalize %></span>
			</td>
		</tr>
		<tr>
			<td>
				<label>Directors:</label>
				<span class="info"><%= @company.directors.capitalize %></span>
			
			</td>
		</tr>
		<tr>
			<td>
				<label>Address:</label>
				<span class="info"><%= @company.address %></span>
			</td>
		</tr>

	</table>
	</div>
	<hr class="mtn mbn">
</div>

<div class="pnl-footer">
	<center>
		<i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i>
		<a href="#" id="add-new-account"> Add New Bank Account</a>
	</center>
</div>










