<div class="page-header">
	<h1>Bank Accounts for <%= @bank_account.company.name %></h1>
</div>

<h4><%= flash[:notice] %></h4>
<p><%= image_tag @bank_account.logo.url(:small) %></p>

<p>
	<strong>Bank Name:</strong>
	<%= @bank_account.bank_name %>
</p>

<p><strong>Account Number:</strong>
	<%= @bank_account.account_number %>
</p>

<p>
	<strong>Currency:</strong>
	<%= @bank_account.currency %>
</p>

<p>
	<strong>Swift Code:</strong>
	<%= @bank_account.swift_code %>
</p>

<p>
	<strong>Account Type:</strong>
	<%= @bank_account.account_type %>
</p>

<p>
	<strong>Bank Address:</strong>
	<%= @bank_account.bank_address %>
</p>

<div class="edit-delete">
	<%= link_to 'Edit', edit_company_bank_account_path(@company, @bank_account), class: 'btn btn-success' %> 
	<%= link_to 'Delete', company_bank_account_path(@company, @bank_account), class: 'btn btn-danger', method: :delete, data: {confirm: "Are you sure?"} %>
</div>	
<ul class="pager back-button">
	<li><%= link_to 'Back To Current Company', @bank_account.company %></li>
</ul>
