<div class="page-header">
	<h1><%= @bank_account.company.name %>'s bank accounts</h1>
</div>

<h4><%= flash[:notice] %></h4>
<p><%= image_tag @bank_account.logo.url(:small) %></p>

<p>
	<strong>Bank Name:</strong>
	<%= @bank_account.bank_name %>
</p>

<p><strong>Account Number:</strong>
	<%= @bank_account.account_number %>
</p>

<p>
	<strong>Currency:</strong>
	<%= @bank_account.currency %>
</p>

<p>
	<strong>Swift Code:</strong>
	<%= @bank_account.swift_code %>
</p>

<p>
	<strong>Account Type:</strong>
	<%= @bank_account.account_type %>
</p>

<p>
	<strong>Bank Address:</strong>
	<%= @bank_account.bank_address %>
</p>
<ul class="pager">
	<li><%= link_to 'Back', @bank_account.company %></li>
	<li><%= link_to 'Edit', edit_company_bank_account_path(@company, @bank_account) %></li>
	<li><%= link_to 'Delete', company_bank_account_path(@company, @bank_account), method: :delete, data: {confirm: "Are you sure?"} %></li>
</ul>


