<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Loyal Bank</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'modern', media: 'all' %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>

  <div class="header page-header">
    <div class="container">
      <div class="header-container">
        <div class="header-title">
        <span>LOYAL BANK</span>
          <a href="<%= logout_url %>"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </div>

        <ul class="header-nav">
          <% if controller_name == "sessions" %>
          <li class="header-nav-item active">AUTHORIZE</li>
          <% else %>
          <li class="header-nav-item <%= "active" if controller_name == 'companies' && action_name == 'index' %>" >
             <a href="<%= companies_url %>"> COMPANIES </a>
            </li>
          <li class="header-nav-item <%= "active" if controller_name == 'users' %>" >
            <a href="<%= users_url %>"> USERS </a>
            </li>
          <% if controller_name == "companies" && action_name == "new" %>
          <li class="header-nav-item active" >CREATE COMPANY</li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="panel">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>








